.badge {
    align-items: center;
    border-radius: 1rem;
    display: inline-flex;
    font-size: 0.75rem;
    font-weight: 700;
    gap: 0.5rem;
    margin: 0;
    padding: 0.25rem 0.75rem;

    &--white {
        background-color: #fff;
        color: var(--primary-color);
    }

    &--primary {
        background-color: var(--primary-color-hover);
        color: #fff;
    }

    &--warning {
        background-color: var(--warning-color);
        color: #fff;
        text-shadow: 0 0 3px rgba(0,0,0,.2);
    }

    &--success {
        background-color: var(--success-color);
        color: #fff;
    }

    &--danger {
        background-color: var(--danger-color);
        color: #fff;
    }

    &--beige {
        background-color: var(--beige-color);
    }

    &__indicator {
        border-radius: 50%;
        height: 0.5rem;
        min-width: 0.5rem;
        width: 0.5rem;

        &--warning {
            background-color: var(--warning-color);
        }

        &--success {
            background-color: var(--success-color);
        }

        &--danger {
            background-color: var(--danger-color);
        }
    }
}