*,
::after,
::before {
    box-sizing: border-box;
}

body,
html {
    @include scrollbar;
    margin: 0;
    padding: 0;
    scrollbar-gutter: stable;
}

html {
    font-size: var(--base-font-size);
    height: 100%;
    scroll-behavior: smooth;
    scroll-padding-top: calc(var(--header-min-height) + 1rem);
    -webkit-text-size-adjust: 100%;

    &.is-overflow {
        scrollbar-gutter: stable;
    }

    &.stop-scroll {
        overscroll-behavior-y: none;

        body {
            overscroll-behavior-y: none;
        }
    }
}

.page {
    background-color: var(--beige-color);
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    font-family: var(--primary-font);
    font-weight: 400;
    line-height: 1.5;
    min-height: 100%;
    overflow-x: hidden;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;

    &.is-overflow {
        overflow: hidden;
    }

    &.main-menu-open {
        @media(max-width: $md - 0.02rem) {
            overflow: hidden;
            scrollbar-gutter: stable;
        }
    }

    &--no-padding {
        .page__content {
            padding-top: 0;
            padding-bottom: 0;
        }
    }

    &__content {
        flex: 1 0 auto;
        padding-top: 1.5rem;
        padding-bottom: 3rem;
    }

    &__section {
        padding-top: clamp(2rem, calc(0.9091rem + 5.4545vw), 5rem);
        padding-bottom: clamp(2rem, calc(0.9091rem + 5.4545vw), 5rem);

        &--no-padding-top {
            padding-top: 0;
        }

        &--no-padding-bottom {
            padding-bottom: 0;
        }
    }

    &__columns {
        --columns-gap: 1.5rem;
        --sidebar-width: 19rem;

        &:not(:last-child) {
            margin-bottom: clamp(2rem, calc(0.9091rem + 5.4545vw), 5rem);
        }
        @media(min-width: $md) {
            display: flex;
            gap: var(--columns-gap);
        }

        &--reverse {
            @media(min-width: $md) {
                flex-direction: row-reverse;
            }
        }
    }

    &__sidebar {
        min-height: var(--sidebar-width);
        width: var(--sidebar-width);
        @media(max-width: $md - 0.02rem) {
            display: none;
        }
    }

    &__inner-content {
        @media(min-width: $md) {
            width: calc(100% - var(--columns-gap) - var(--sidebar-width));
        }
    }
}

.container {
    max-width: var(--container-max-width);
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
}

.full-width {
    margin-left: calc(0.01px - var(--container-padding));
    margin-right: calc(0.01px - var(--container-padding));
    @media(min-width: 74.5rem) {
        margin-left: calc(-100vw / 2 + var(--container-max-width) / 2 - var(--container-padding));
        margin-right: calc(-100vw / 2 + var(--container-max-width) / 2 - var(--container-padding));
    }
}

.bg-beige {
    background-color: var(--beige-color);
}

.bg-white {
    background-color: #fff;
}

.lead {
    &:not(:last-child) {
        margin-bottom: clamp(1.5rem, calc(1.1364rem + 1.8182vw), 2.5rem);
    }

    &--centered {
        margin-left: auto;
        margin-right: auto;
        max-width: 45rem;
        text-align: center;

        .pre-title {
            justify-content: center;
        }

        .lead__text {
            margin-left: auto;
            margin-right: auto;
            width: 100%;
        }
    }

    h2 {
        font-size: clamp(1.5rem, calc(1.1364rem + 1.8182vw), 2.5rem);
        font-weight: 700;
        margin-top: 0;
    }

    &__text-block {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        @media(min-width: $sm) {
            align-items: flex-end;
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__text {
        color: var(--grey-color-dark);
        font-size: clamp(1rem, calc(0.9545rem + 0.2273vw), 1.125rem);
        @media(min-width: $sm) {
            width: calc(60% - 0.5rem);
        }
    }
}

.pre-title {
    align-items: center;
    display: flex;
    font-size: clamp(0.875rem, calc(0.8295rem + 0.2273vw), 1rem);
    font-weight: 600;
    gap: 0.5rem;
    text-transform: uppercase;

    &::before {
        display: block;
        content: '';
        height: 2px;
        min-width: 1.5rem;
        width: 1.5rem;
    }

    &--success {
        color: var(--success-color);

        &::before {
            background-color: var(--success-color);
        }
    }

    &--danger {
        color: var(--danger-color);

        &::before {
            background-color: var(--danger-color);
        }
    }
}

.more-link {
    @include active-area;
    align-items: center;
    display: inline-flex;
    font-weight: 600;
    gap: 0.5rem;
    text-decoration: none;
    @include hover {
        svg {
            transform: translateX(50%);
        }
    }

    svg {
        fill: currentColor;
        height: 1rem;
        transition: transform 0.3s;
        width: 1rem;
    }
}

.left-menu {
    border-radius: 1rem;
    background-color: #fff;
    border: 1px solid var(--beige-color-dark);
    font-size: 0.875rem;
    padding: 1rem;

    &:not(:last-child) {
        margin-bottom: 1.5rem;
    }

    &__list {
        @include list-reset;
    }

    &__item {
        &:not(:last-child) {
            margin-bottom: 0.75rem;
        }
    }

    &__link {
        @include active-area;

        &.is-active {
            font-weight: 600;
        }
    }
}

.grid {
    display: grid;
    gap: 1rem;

    &--3 {
        @media(min-width: 36.25rem) {
            grid-template-columns: repeat(2,1fr);
        }
        @media(min-width: $md) {
            grid-template-columns: repeat(3,1fr);
        }

        .grid__card {
            grid-column: span 4;
            @media(min-width: 580px) {
                grid-column: span 1;
            }
        }
    }

    &--4 {
        grid-template-columns: repeat(4,1fr);

        .grid__card {
            &:not(.grid__card--big) {
                grid-column: span 4;
                @media(min-width: $sm) {
                    grid-column: span 2;
                }
                @media(min-width: $md) {
                    grid-column: span 1;
                }
            }
        }

        .grid__card--big {
            grid-column: span 4;
            @media(min-width: $sm) {
                grid-column: span 2;
            }
        }
    }
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--primary-color);

    &:first-child {
        margin-top: 0;
    }
}

.h1,
h1 {
    font-size: clamp(1.5rem, calc(1.3182rem + 0.9091vw), 2rem);
    font-weight: 600;
    line-height: 1.15;
    margin-bottom: 0.75em;
    margin-top: 0;

    &:last-child {
        margin-bottom: 0;
    }
}

.h2,
h2 {
    font-size: clamp(1.25rem, calc(0.9773rem + 1.3636vw), 1.5rem);
    font-weight: 600;
    line-height: 1.15;
    margin-bottom: 1em;
    margin-top: 1.5em;

    &:last-child {
        margin-bottom: 0;
    }
}

.h3,
h3 {
    font-size: clamp(1rem, calc(0.9545rem + 0.2273vw), 1.125rem);
    font-weight: 600;
    margin-bottom: 0.5em;
    margin-top: 0.25em;

    &:last-child {
        margin-bottom: 0;
    }
}

a {
    color: var(--primary-color);
    transition: color 0.3s;
    @include hover {
        color: var(--secondary-color);
    }
}

b {
    font-weight: 600;
}

img {
    height: auto;
    max-width: 100%;
}

svg {
    transition: fill 0.3s;
}

*:focus {
    outline: none;
}

button,
input,
textarea {
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
}

ol,
p,
ul {
    margin-top: 0;
    margin-bottom: 1rem;

    &:last-child {
        margin-bottom: 0;
    }
}

ol,
ul {
    padding: 0;
}

ol {
    list-style-position: inside;
}

ul {
    &:not([class]) {
        list-style: none;

        li {
            padding-left: 1.5rem;
            position: relative;
            z-index: 1;

            &:not(:last-child) {
                margin-bottom: 0.75rem;
            }

            &::before {
                background-color: currentColor;
                border-radius: 50%;
                content: '';
                height: 2px;
                left: 0.75rem;
                position: absolute;
                top: 0.725em;
                transform: translate(-50%, -50%);
                width: 2px;
                z-index: 1;
            }
        }
    }
}

.responsive-table {
    overflow-x: auto;
}

table {
    border-collapse: collapse;
    border: none;
    width: 100%;

    th {
        background-color: #D9D9D9;
        padding: 1rem;
    }

    td,
    th {
        border: none;
        padding: 0.75rem;
        text-align: left;
    }

    b {
        font-weight: 700;
    }
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}