.button {
    align-items: center;
    border: 2px solid transparent;
    border-radius: 8px;
    cursor: pointer;
    display: inline-flex;
    font-family: var(--primary-font);
    font-weight: 500;
    gap: 8px;
    justify-content: center;
    line-height: 1.5;
    height: 40px;
    padding: 4px 16px;
    text-decoration: none;
    text-align: center;
    transition: all 0.3s;

    &.disabled,
    &:disabled,
    &[data-disabled] {
        cursor: default;
        pointer-events: none;
    }

    &--primary {
        background-color: var(--primary-color);
        color: #fff;

        &:not(.disabled),
        &:not(:disabled),
        &:not([data-disabled]) {
            @include hover {
                background-color: var(--primary-color-hover);
                color: #fff;
            }
        }

        &.disabled,
        &:disabled,
        &[data-disabled] {
            background-color: var(--grey-color);
            color: #fff;
        }
    }

    &--secondary {
        background-color: var(--secondary-color);
        color: #fff;

        &:not(.disabled),
        &:not(:disabled),
        &:not([data-disabled]) {
            @include hover {
                background-color: var(--secondary-color-hover);
                color: #fff;
            }
        }

        &.disabled,
        &:disabled,
        &[data-disabled] {
            background-color: var(--grey-color);
            color: #fff;
        }
    }

    &--success {
        background-color: var(--success-color);
        color: #fff;

        &:not(.disabled),
        &:not(:disabled),
        &:not([data-disabled]) {
            @include hover {
                background-color: var(--success-color-hover);
                color: #fff;
            }
        }

        &.disabled,
        &:disabled,
        &[data-disabled] {
            background-color: var(--grey-color);
            color: #fff;
        }
    }

    &--warning {
        background-color: var(--warning-color);
        color: #fff;

        &:not(.disabled),
        &:not(:disabled),
        &:not([data-disabled]) {
            @include hover {
                background-color: var(--warning-color-hover);
                color: #fff;
            }
        }

        &.disabled,
        &:disabled,
        &[data-disabled] {
            background-color: var(--grey-color);
            color: #fff;
        }
    }

    &--danger {
        background-color: var(--danger-color);
        color: #fff;

        &:not(.disabled),
        &:not(:disabled),
        &:not([data-disabled]) {
            @include hover {
                background-color: #c35d5a;
                color: #fff;
            }
        }

        &.disabled,
        &:disabled,
        &[data-disabled] {
            background-color: var(--grey-color);
            color: #fff;
        }
    }

    &--outline {
        background-color: transparent;
        border: 1px solid var(--primary-color);
        color: var(--primary-color);

        &:not(.disabled),
        &:not(:disabled),
        &:not([data-disabled]) {
            @include hover {
                border-color: var(--secondary-color);
                color: var(--secondary-color);
            }
        }

        &.disabled,
        &:disabled,
        &[data-disabled] {
            border-color: var(--grey-color);
            color: var(--grey-color);
        }
    }

    &--wide {
        width: 100%;
    }

    svg {
        fill: currentColor;
        height: 16px;
        min-width: 16px;
        width: 16px;
    }
}