.compensate-for-scrollbar {
    margin: 0 !important;
}

.popup {
    background-color: #fff;
    border-radius: 1rem;
    display: none;
    padding: 2rem 1.5rem;
    overflow: visible;
    width: 100%;

    &--recall {
        max-width: 30rem;
    }

    &--search-options {
        max-width: 72.5rem;
    }

    &__title {
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 1.15;
    }

    &__closer {
        align-items: center;
        background-color: #fff;
        border-radius: 50%;
        border: 1px solid var(--grey-color);
        display: flex;
        height: 2.5rem;
        justify-content: center;
        opacity: 1;
        right: 0;
        top: 0;
        transform: translate(50%, -50%);
        width: 2.5rem;
    }
}

.recall-form {
    .checkbox,
    .input-group,
    .radios {
        margin-bottom: 1rem;
    }
}