$xs: 30rem;
$sm: 48rem;
$md: 64rem;
$hd: 75rem;

:root {
    --primary-color: #1E3E73;
    --primary-color-hover: #152c52;
    --secondary-color: #5B8FC6;
    --secondary-color-hover: #4c77a4;
    --danger-color: #E76D6A;
    --danger-color-hover: #d66562;
    --success-color: #8DBDB6;
    --success-color-hover: #7ba49e;
    --success-color-light: #dceeeb;
    --success-color-dark: #357168;
    --warning-color: #ecc16f;
    --warning-color-hover: #dab368;
    --warning-color-light: #f2e8d3;
    --warning-color-dark: #ab8338;
    --beige-color: #F7F4EF;
    --beige-color-dark: #e1ded9;
    --grey-color: #C7CEDE;
    --grey-color-dark: #6B7686;
    --base-font-size: 16px;
    --container-padding: 1rem;
    --header-min-height: 5rem;
    --container-max-width: 74.5rem;
    --primary-font: 'Montserrat', Arial, sans-serif;
}