.breadcrumbs {
    @include list-reset;
    color: var(--grey-color-dark);
    display: flex;
    font-size: clamp(0.75rem, calc(0.7045rem + 0.2273vw), 0.875rem);
    gap: 0.5rem;
    line-height: 1.2;
    margin-left: calc(0.01px - var(--container-padding));
    margin-right: calc(0.01px - var(--container-padding));
    overflow-x: auto;
    padding: 0 var(--container-padding);
    scrollbar-width: none;
    white-space: nowrap;

    &__item {
        &:not(:last-child) {
            align-items: center;
            display: flex;
            gap: 0.5rem;

            &::after {
                border-radius: 50%;
                background-color: var(--primary-color);
                content: '';
                height: 2px;
                width: 2px;
            }
        }
    }

    &__link {
        align-items: center;
        display: flex;
        gap: 0.25rem;
        text-decoration: none;

        svg {
            fill: currentColor;
            height: 1rem;
            min-width: 1rem;
            margin-top: -1.5px;
            width: 1rem;
        }
    }
}