.breadcrumbs {
    @include list-reset;
    color: var(--dark-grey-color);
    display: flex;
    font-size: clamp(calc(var(--base-font-size) * 0.75), calc(0.7045rem + 0.2273vw), calc(var(--base-font-size) * 0.875));
    gap: 8px;
    line-height: 1.2;
    margin-left: calc(0.01px - var(--container-padding));
    margin-right: calc(0.01px - var(--container-padding));
    overflow-x: auto;
    padding: 0 var(--container-padding);
    scrollbar-width: none;
    white-space: nowrap;

    &__item {
        &:not(:last-child) {
            align-items: center;
            display: flex;
            gap: 8px;

            &::after {
                border-radius: 50%;
                background-color: var(--primary-color);
                content: '';
                height: 2px;
                width: 2px;
            }
        }
    }

    &__link {
        align-items: center;
        display: flex;
        gap: 4px;
        text-decoration: none;

        svg {
            fill: currentColor;
            height: 16px;
            min-width: 16px;
            margin-top: -1.5px;
            width: 16px;
        }
    }
}