.detail {
    &__content {
        display: flex;
        flex-direction: column;
    }

    &__title-block {
        display: flex;
        gap: 0.5rem;
        margin-bottom: 1rem;

        h1 {
            margin: 0;
        }
    }

    &__fav {
        @include active-area;
        @include button-reset;
        align-items: center;
        border-radius: 50%;
        background-color: #fff;
        color: var(--danger-color);
        display: flex;
        height: 2rem;
        justify-content: center;
        left: auto;
        position: absolute;
        right: 0.5rem;
        top: 0.5rem;
        transition: color 0.3s, background-color 0.3s;
        width: 2rem;
        z-index: 2;
        @include hover {
            background-color: var(--grey-color);
            color: var(--danger-color-hover);
        }
        @media(min-width: $md) {
            height: 3rem;
            right: 1rem;
            top: 1rem;
            width: 3rem;
        }

        svg {
            fill: currentColor;
            height: 1.5rem;
            margin-top: 2px;
            width: 1.5rem;
        }
    }
    /*&__fav-button {
        @include active-area;
        @include button-reset;
        align-items: center;
        color: var(--danger-color);
        display: flex;
        gap: 0.5rem;
        font-size: 0.875rem;
        justify-content: center;
        transition: color 0.3s, background-color 0.3s;
        @include hover {
            color: var(--danger-color-hover);

            span {
                background-color: var(--danger-color);

                svg {
                    fill: #fff;
                }
            }
        }

        span {
            align-items: center;
            border-radius: 50%;
            border: 2px solid var(--danger-color);
            display: flex;
            justify-content: center;
            height: 2.5rem;
            min-width: 2.5rem;
            transition: background-color 0.3s;
            width: 2.5rem;
        }

        svg {
            fill: currentColor;
            height: 1.5rem;
            margin-top: 2px;
            width: 1.5rem;
        }
    }*/
    &__address {
        font-size: 0.875rem;
    }

    &__badges {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;

        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }

    &__side-block {
        background-color: #fff;
        border-radius: 1rem;
        border: 1px solid var(--beige-color-dark);
        font-size: 0.875rem;
        padding: 1rem;

        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }

    &__rating-block {
        align-items: center;
        display: flex;
        gap: 0.5rem;
        font-size: 0.875rem;

        &--mobile {
            @media(min-width: $md) {
                display: none;
            }
        }

        a {
            white-space: nowrap;
        }
    }

    &__rating {
        align-items: center;
        background-color: var(--primary-color);
        border-radius: 0.5rem;
        color: #fff;
        display: inline-flex;
        font-size: 1.5rem;
        font-weight: 700;
        gap: 0.5rem;
        padding: 0.5rem 1rem;
        margin-bottom: 0;

        svg {
            fill: currentColor;
            height: 1.5rem;
            min-width: 1.5rem;
            width: 1.5rem;
        }
    }

    &__min-price {
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 0.25rem;
        text-align: center;
        white-space: nowrap;

        small {
            font-size: 60%;
            font-weight: 500;
        }
    }

    &__stock {
        color: var(--grey-color-dark);
        font-weight: 500;
        margin-top: 0.5rem;
        text-align: center;
    }

    &__menu {
        font-size: 0.875rem;
        display: flex;
        gap: 0.5rem;
        margin-left: calc(0.01px - var(--container-padding));
        margin-right: calc(0.01px - var(--container-padding));
        margin-bottom: 2rem;
        overflow-x: auto;
        padding-left: var(--container-padding);
        padding-right: var(--container-padding);
        scrollbar-width: none;
        background: linear-gradient(90deg, var(--beige-color) 33%, rgba(255,255,255,0)),linear-gradient(90deg, rgba(255,255,255,0), var(--beige-color) 66%) 0 100%, radial-gradient(farthest-side at 0 50%, rgba(0,0,0,.4), transparent),radial-gradient(farthest-side at 100% 50%,rgba(0,0,0,.4), transparent) 0 100%;
        background-repeat: no-repeat;
        background-size: 30px 100%,30px 100%,10px 100%,10px 100%;
        background-position: 0 0,100%,0 0,100%;
        background-attachment: local, local, scroll, scroll;
        @media(min-width:$md) {
            margin-right: 0;
            margin-left: 0;
            padding-left: 0;
            padding-right: 0;
        }
        @include hover {
            scrollbar-width: thin;
        }

        .button {
            border-width: 1px;
            white-space: nowrap;
        }
    }

    &__images {
        margin-bottom: 2rem;
        position: relative;
        z-index: 1;
        @media(max-width: $md - 0.02rem) {
            margin-left: calc(0.01px - var(--container-padding));
            margin-right: calc(0.01px - var(--container-padding));
            margin-bottom: 1rem;
            order: -1;
        }
    }

    &__slider {
        @media(min-width: $md) {
            border-radius: 0.5rem;
            margin-bottom: 0.5rem;
        }

        .swiper-slide {
            cursor: zoom-in;

            a {
                cursor: zoom-in;
            }
        }

        .swiper-pagination {
            background-color: #fff;
            border-radius: 0.5rem;
            font-size: 0.75rem;
            font-weight: 500;
            left: 50%;
            padding: 0.125rem 0.5rem;
            transform: translateX(-50%);
            width: auto;
            @media(min-width: $md) {
                display: none;
            }
        }

        img {
            display: block;
            width: 100%;
        }
    }

    &__images-next,
    &__images-prev {
        @include button-reset;
        align-items: center;
        border-radius: 0.5rem;
        background-color: rgba(#fff,0.5);
        color: var(--primary-color);
        display: flex;
        height: 2.5rem;
        justify-content: center;
        transition: color 0.3s;
        width: 2.5rem;
        @media(max-width: $md - 0.02rem) {
            display: none;
        }

        &:not(.swiper-button-disabled) {
            @include hover {
                color: var(--secondary-color);
            }
        }

        &.swiper-button-disabled {
            cursor: default;
            opacity: 0.5;
        }

        svg {
            fill: currentColor;
            height: 1.5rem;
            width: 1.5rem;
        }
    }

    &__thumbs {
        @media(max-width: $md - 0.02rem) {
            display: none;
        }

        .swiper-slide {
            cursor: pointer;
            width: auto;
        }

        img {
            display: block;
            border-radius: 0.25rem;
        }
    }

    &__map {
        border-radius: 0.5rem;
        height: 10rem;

        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }

    &__time {
        align-items: center;
        display: flex;
        gap: 0.5rem;

        svg {
            fill: var(--primary-color);
            height: 2rem;
            min-width: 2rem;
            width: 2rem;
        }
    }

    &__contact-map {
        border-radius: 0.5rem;
        height: 15rem;
    }

    &__service {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;

        &:not(:first-child) {
            margin-top: 1.5em;
        }
        @media(min-width: 37.5rem) {
            grid-template-columns: 1fr 1fr 1fr;
        }
        @media(min-width: $md) {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }

    &__service-item {
        align-items: center;
        display: flex;
        gap: 0.5rem;
        font-size: 0.875rem;
        margin: 0;
    }

    &__service-icon {
        align-items: center;
        border-radius: 0.25rem;
        border: 1px solid var(--beige-color-dark);
        background-color: #fff;
        display: flex;
        justify-content: center;
        height: 2.5rem;
        min-width: 2.5rem;
        width: 2.5rem;

        svg {
            fill: var(--primary-color);
            height: 1.5rem;
            width: 1.5rem;
        }
    }

    &__mobile-book {
        background-color: var(--beige-color);
        bottom: 0;
        box-shadow: 0 0 3px 1px rgba(#000, 0.1);
        left: 0;
        padding: 0.5rem 1rem;
        position: fixed;
        top: auto;
        width: 100%;
        z-index: 2;
        @media(min-width: $md) {
            display: none;
        }

        &.hidden {
            display: none;
        }

        .button {
            font-size: 0.875rem;
        }
    }
}

.how-get {
    @media(min-width: $sm) {
        display: flex;
        gap: 1rem;
    }

    &__map {
        border-radius: 0.5rem;
        height: 30rem;
        @media(min-width: $sm) {
            width: calc(70% - 0.5rem);
        }
    }

    &__text {
        font-size: 0.875rem;
        max-height: 30rem;
        overflow-y: auto;
        padding-right: 0.5rem;
        scrollbar-width: thin;
        width: calc(30% - 0.5rem);
        @media(max-width: $md - 0.02rem) {
            display: none;
        }
    }
}