.faq-block {
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    @media(min-width: $md) {
        align-items: flex-start;
        flex-direction: row;
    }

    &__info {
        border-radius: 1rem;
        background-color: var(--primary-color-hover);
        color: var(--grey-color);
        padding: clamp(1.5rem, calc(1.1364rem + 1.8182vw), 2.5rem);
        @media(min-width: $md) {
            min-width: 30rem;
            width: 30rem;
        }

        h3 {
            color: #fff;
            font-size: clamp(1.5rem, calc(1.3182rem + 0.9091vw), 2rem);
            line-height: 1.15;
        }

        .button {
            margin-bottom: 1rem;
        }
    }

    &__text {
        max-width: 40ch;
    }

    .accordions {
        @media(min-width: $md) {
            width: calc(100% - 30rem - 1.5rem);
        }
    }
}