.faq-block {
    display: flex;
    gap: 24px;
    flex-direction: column;
    @media(min-width: $md) {
        align-items: flex-start;
        flex-direction: row;
    }

    &__info {
        border-radius: 16px;
        background-color: var(--primary-color-hover);
        color: var(--grey-color);
        padding: 48px 24px;
        @media(min-width: $md) {
            min-width: 480px;
            width: 480px;
        }

        h3 {
            color: #fff;
        }
    }

    &__phone {
        align-items: center;
        display: flex;
        gap: 8px;
        font-size: 14px;
        margin-top: 16px;

        a {
            color: #fff;
            font-size: 16px;
            font-weight: 600;
            text-decoration: none;
        }
    }

    &__phone-icon {
        align-items: center;
        background-color: rgba(#fff, 0.1);
        border-radius: 8px;
        display: flex;
        height: 40px;
        justify-content: center;
        min-width: 40px;
        width: 40px;

        svg {
            fill: var(--danger-color-hover);
            height: 24px;
            width: 24px;
        }
    }

    .accordions {
        @media(min-width: $md) {
            width: calc(100% - 480px - 24px);
        }
    }
}