.med-card {
    border-radius: 1rem;
    background-color: #fff;
    border: 1px solid var(--beige-color-dark);
    color: var(--grey-color-dark);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: clamp(1rem, calc(0.9091rem + 0.4545vw), 1.25rem);
    position: relative;
    transition: transform 0.3s;
    transform: translateY(0);
    z-index: 1;
    @include hover {
        transform: translateY(-0.25rem);
    }

    .icon {
        margin-bottom: 1rem;
    }

    &__title {
        font-size: clamp(1rem, calc(0.9545rem + 0.2273vw), 1.125rem);
        font-weight: 700;
        margin-bottom: 0.5em;

        a {
            @include active-area;
            position: static;
            text-decoration: none;
        }
    }

    &__text {
        font-size: 0.875rem;
    }

    &__count {
        border-top: 1px solid var(--grey-color);
        margin-top: auto;
        padding-top: 0.75rem;

        b {
            color: var(--danger-color);
            font-weight: 700;
        }
    }
}
/*.grid--4 {
    .med-card {
        grid-column: span 4;
        @media(min-width: $sm) {
            grid-column: span 2;
        }
        @media(min-width: $md) {
            grid-column: span 1;
        }
    }
}*/