<div class="js-main-slider main-slider swiper full-width">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="main-slider__image">
                <img src="images/content/main-slider/img.jpg" alt="">
            </div>

            <div class="main-slider__slide container">
                <p class="main-slider__title main-slider__title--big">Санаторно-курортное лечение по всей России</p>

                <div class="main-slider__text">
                    <p>374 здравницы в 65 регионах — от целебных источников Кавминвод до морского побережья Крыма и хвойного воздуха Белокурихи</p>
                </div>

                <ul class="main-slider__features">
                    <li>
                        <span class="icon icon--secondary icon--small">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#trophy-icon" />
                            </svg>
                        </span>
                        Лауреат премии Правительства&nbsp;РФ в&nbsp;области качества&nbsp;2022
                    </li>
                    <li>
                        <span class="icon icon--secondary icon--small">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#award-icon" />
                            </svg>
                        </span>
                        Особенно Хорошее место 2026
                    </li>
                    <li>
                        <span class="icon icon--secondary icon--small">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#star-icon" />
                            </svg>
                        </span>
                        9,9/10 оценка гостей
                    </li>
                    <li>
                        <span class="icon icon--secondary icon--small">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#shield-icon" />
                            </svg>
                        </span>
                        Под эгидой ФНПР
                    </li>
                </ul>
            </div>
        </div>

        <div class="swiper-slide">
            <div class="main-slider__slide container">
                <p class="pre-title pre-title--danger">Акция</p>

                <p class="main-slider__title">"Ребенок на доп.месте бесплатно" в&nbsp;санатории "Металлург" (г. Сочи, Краснодарский кр.)</p>

                <div class="main-slider__text">
                    <a class="more-link" href="#">
                        Подбронее
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#arrow-right-alt-icon" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="main-slider__nav container">
        <button class="js-main-slider-prev main-slider__prev" type="button" title="Назад">
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#chevron-left-icon" />
            </svg>
        </button>

        <button class="js-main-slider-next main-slider__next" type="button" title="Вперёд">
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#chevron-right-icon" />
            </svg>
        </button>
    </div>
</div>