<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__column">
                <p class="footer__title">Меню</p>

                <ul class="footer__menu">
                    <li>
                        <a href="#">Профсоюзам</a>
                    </li>
                    <li>
                        <a href="#">Клиентам</a>
                    </li>
                    <li>
                        <a href="#">Новости и акции</a>
                    </li>
                    <li>
                        <a href="#">Наши курорты</a>
                    </li>
                    <li>
                        <a href="#">Лечение</a>
                    </li>
                    <li>
                        <a href="#">Билеты</a>
                    </li>
                    <li>
                        <a href="#">О нас</a>
                    </li>
                    <li>
                        <a href="#">Вопрос-ответ</a>
                    </li>
                </ul>
            </div>

            <div class="footer__column">
                <p class="footer__title">Офисы продаж</p>

                <div class="footer__offices">
                    <div class="footer-office">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#pin-icon" />
                        </svg>

                        <div>
                            <p class="footer-office__title"><a href="#">в Астрахани</a></p>
                            <a class="footer-office__phone" href="tel:+78512547036">+7 (8512) 54-70-36</a>
                        </div>
                    </div>

                    <div class="footer-office">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#pin-icon" />
                        </svg>

                        <div>
                            <p class="footer-office__title"><a href="#">в Волгограде</a></p>
                            <a class="footer-office__phone" href="tel:+78442383967">+7 (8442) 38-39-67</a>
                        </div>
                    </div>

                    <div class="footer-office">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#pin-icon" />
                        </svg>

                        <div>
                            <p class="footer-office__title"><a href="#">в Ростове-на-Дону</a></p>
                            <a class="footer-office__phone" href="tel:+78632618624">+7 (863) 261-86-24</a>
                        </div>
                    </div>

                    <div class="footer-office">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#pin-icon" />
                        </svg>

                        <div>
                            <p class="footer-office__title"><a href="#">в Кисловодске</a></p>
                            <a class="footer-office__phone" href="tel:+79383022599">+7 (938) 302-25-99</a>
                        </div>
                    </div>

                    <div class="footer-office">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#pin-icon" />
                        </svg>

                        <div>
                            <p class="footer-office__title"><a href="#">в Саранске</a></p>
                            <a class="footer-office__phone" href="tel:+78342478676">+7 (8342) 47-86-76</a>
                        </div>
                    </div>

                    <div class="footer-office">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#pin-icon" />
                        </svg>

                        <div>
                            <p class="footer-office__title"><a href="#">в Москве</a></p>
                            <a class="footer-office__phone" href="tel:+74950698996">+7 (495) 069-89-96</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer__column">
                <p class="footer__title">Полезные ссылки</p>

                <ul class="footer__menu">
                    <li>
                        <a href="#">Членам профсоюзов</a>
                    </li>
                    <li>
                        <a href="#">Туристическим агентствам</a>
                    </li>
                    <li>
                        <a href="#">Корпоративным клиентам</a>
                    </li>
                </ul>
            </div>

            <div class="footer__column">
                <p class="footer__title">Контакты</p>

                <div class="footer__phones">
                    <a class="footer__phone" href="tel:+74950698996">+7 (495) 069-89-96</a>

                    <a class="footer__phone" href="tel:+74956642328">+7 (495) 664-23-28</a>

                    <a class="footer__phone" href="tel:+78001002328">+7 (800) 100-23-28</a>
                </div>

                <p class="footer__text">117342, г.&nbsp;Москва,<br> ул.&nbsp;Обручева, д.&nbsp;36, корп.&nbsp;2</p>

                <p class="footer__title">Мы в соцсетях</p>

                <div class="footer__socials">
                    <a class="footer-social" href="#" target="_blank" title="Мы в MAX">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#max-icon" />
                        </svg>
                    </a>

                    <a class="footer-social" href="#" target="_blank" title="Мы Вконтакте">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#vk-icon" />
                        </svg>
                    </a>

                    <a class="footer-social" href="#" target="_blank" title="Мы в Telegram">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#tg-icon" />
                        </svg>
                    </a>
                </div>

                <p class="footer__text">
                    <b>Сведения о туроператоре</b><br>
                    Наименование юридического лица: АО&nbsp;«СКО&nbsp;ФНПР «Профкурорт»<br>
                    Реестровый номер: <a href="https://ev.economy.gov.ru/lk_exp/registry/to/1a26145d-cdd3-4309-90f2-73cbc41db27a" target="_blank">РТО&nbsp;022119</a>
                </p>
            </div>
        </div>

        <div class="footer__bottom">
            <p class="footer__copyright">© 2026 Официальный сайт АО «СКО ФНПР «Профкурорт».</p>

            <p class="footer__developer">Разработка сайта - <a href="https://vsignal.ru/" target="_blank">Vsignal</a></p>
        </div>
    </div>
</footer>