<div class="top-bar">
    <div class="top-bar__inner container">
        <div class="top-bar__badges">
            <div class="top-bar__badge top-bar__badge--red">−20% по программе лояльности ФНПР</div>

            <div class="top-bar__badge">Данные хранятся в России · 152-ФЗ</div>
        </div>

        <ul class="top-bar__menu">
            <li>
                <a href="#">Личный кабинет</a>
            </li>
            <li>
                <a href="#">Я агент</a>
            </li>
            <li>
                <a href="#">Объект</a>
            </li>
        </ul>
    </div>
</div>

<header class="header">
    <div class="header__inner container">
        <a class="header__logo" href="#">
            <img class="header__logo-image" src="images/logo.png" alt="Профкурорт">
            <span>
                <span class="header__logo-title">ПРОФКУРОРТ</span>
                <span class="header__logo-sub">Санаторно-курортное объединение ФНПР</span>
            </span>
        </a>

        <button class="header__menu-toggler button button--primary" type="button">
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#menu-icon" />
            </svg>
            Меню
        </button>

        <div class="header__contacts">
            <div class="header__contacts-block">
                <p class="header__contacts-title">Звонок по России бесплатный</p>

                <a class="header__phone" href="tel:+78001002328">+7 (800) 100-23-28</a>

                <p class="header__work-time">Пн-Пт с 09:00 до 18:00</p>
            </div>

            <div class="header__contacts-block">
                <p class="header__contacts-title">Телефоны в Москве:</p>
                <a class="header__phone" href="tel:+74956642328">+7 (495) 664-23-28</a>
                <a class="header__phone" href="tel:+74950698996">+7 (495) 069-89-96</a>
            </div>
        </div>

        <div class="header__actions">
            <a class="button button--warning" href="#">Подобрать санаторий</a>

            <a href="javascript:void(0)" data-fancybox="recall" data-src="#recall">Заказать звонок</a>
        </div>
    </div>

    <nav class="main-menu">
        <div class="container">

        </div>
    </nav>
</header>