<div class="search">
    <p class="search__title">
        Фильтр

        <button class="js-filter-closer search__closer" type="button" title="Закрыть">
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#close-icon" />
            </svg>
        </button>
    </p>

    <form action="">
        <div class="input-group">
            <label class="input-label" for="region">Что ищем</label>
            <input class="input" id="region" type="text" name="" inputmode="text" placeholder="Санаторий, регион, профиль лечения">
        </div>

        <div class="input-group">
            <label class="input-label" for="date-in">Даты заезда/выезда</label>
            <div class="search-form__dates-container">
                <input class="input" id="date-in" type="text" name="date_in" placeholder="Дата заезда">
                <input class="input" id="date-out" type="text" name="date_out" placeholder="Дата выезда">
            </div>
        </div>

        <div class="input-group">
            <label class="input-label" for="numbers">Количество номеров</label>
            <input class="input" id="numbers" type="text" name="" inputmode="numeric" placeholder="Количество номеров">
        </div>

        <div class="search__section">
            <p class="search__section-title">Тип размещения</p>

            <label class="checkbox">
                <input type="checkbox" value="" name="">
                <span class="checkbox__icon"></span>
                <span class="checkbox__text">Мини-отель</span>
            </label>
            <label class="checkbox">
                <input type="checkbox" value="" name="">
                <span class="checkbox__icon"></span>
                <span class="checkbox__text">База отдыха</span>
            </label>
            <label class="checkbox">
                <input type="checkbox" value="" name="">
                <span class="checkbox__icon"></span>
                <span class="checkbox__text">Курортная поликлиника</span>
            </label>
            <label class="checkbox">
                <input type="checkbox" value="" name="">
                <span class="checkbox__icon"></span>
                <span class="checkbox__text">Курортный комплекс</span>
            </label>
            <label class="checkbox">
                <input type="checkbox" value="" name="">
                <span class="checkbox__icon"></span>
                <span class="checkbox__text">Санаторий</span>
            </label>
            <label class="checkbox">
                <input type="checkbox" value="" name="">
                <span class="checkbox__icon"></span>
                <span class="checkbox__text">Курорт</span>
            </label>
            <label class="checkbox">
                <input type="checkbox" value="" name="">
                <span class="checkbox__icon"></span>
                <span class="checkbox__text">Профилакторий</span>
            </label>
            <label class="checkbox">
                <input type="checkbox" value="" name="">
                <span class="checkbox__icon"></span>
                <span class="checkbox__text">Гостиница</span>
            </label>
            <label class="checkbox">
                <input type="checkbox" value="" name="">
                <span class="checkbox__icon"></span>
                <span class="checkbox__text">Пансионат</span>
            </label>
            <label class="checkbox">
                <input type="checkbox" value="" name="">
                <span class="checkbox__icon"></span>
                <span class="checkbox__text">Гостевой дом</span>
            </label>
            <label class="checkbox">
                <input type="checkbox" value="" name="">
                <span class="checkbox__icon"></span>
                <span class="checkbox__text">Отель</span>
            </label>
            <label class="checkbox">
                <input type="checkbox" value="" name="">
                <span class="checkbox__icon"></span>
                <span class="checkbox__text">Бальнеогрязелечебница</span>
            </label>
        </div>

        <div class="search__section">
            <p class="search__section-title">Цена за ночь</p>

            <label class="checkbox">
                <input type="checkbox" value="" name="">
                <span class="checkbox__icon"></span>
                <span class="checkbox__text">0&nbsp;руб. - 1&nbsp;500&nbsp;руб.</span>
            </label>
            <label class="checkbox">
                <input type="checkbox" value="" name="">
                <span class="checkbox__icon"></span>
                <span class="checkbox__text">1&nbsp;500&nbsp;руб. - 2&nbsp;700&nbsp;руб.</span>
            </label>
            <label class="checkbox">
                <input type="checkbox" value="" name="">
                <span class="checkbox__icon"></span>
                <span class="checkbox__text">2&nbsp;700&nbsp;руб. - 5&nbsp;500&nbsp;руб.</span>
            </label>
            <label class="checkbox">
                <input type="checkbox" value="" name="">
                <span class="checkbox__icon"></span>
                <span class="checkbox__text">5&nbsp;500&nbsp;руб. - 8 000&nbsp;руб.</span>
            </label>
            <label class="checkbox">
                <input type="checkbox" value="" name="">
                <span class="checkbox__icon"></span>
                <span class="checkbox__text">8&nbsp;000&nbsp;руб.&nbsp;+</span>
            </label>
        </div>

        <div class="search__section">
            <p class="search__section-title">Питание</p>

            <label class="checkbox">
                <input type="checkbox" value="" name="">
                <span class="checkbox__icon"></span>
                <span class="checkbox__text">Шведский стол</span>
            </label>
            <label class="checkbox">
                <input type="checkbox" value="" name="">
                <span class="checkbox__icon"></span>
                <span class="checkbox__text">Заказ по меню</span>
            </label>
        </div>

        <div class="search__section">
            <p class="search__section-title">Доп. сервис</p>

            <label class="checkbox">
                <input type="checkbox" value="" name="">
                <span class="checkbox__icon"></span>
                <span class="checkbox__text">Автостоянка</span>
            </label>
            <label class="checkbox">
                <input type="checkbox" value="" name="">
                <span class="checkbox__icon"></span>
                <span class="checkbox__text">Закрытый бассейн</span>
            </label>
            <label class="checkbox">
                <input type="checkbox" value="" name="">
                <span class="checkbox__icon"></span>
                <span class="checkbox__text">Бювет</span>
            </label>
            <label class="checkbox">
                <input type="checkbox" value="" name="">
                <span class="checkbox__icon"></span>
                <span class="checkbox__text">Детская площадка</span>
            </label>
            <label class="checkbox">
                <input type="checkbox" value="" name="">
                <span class="checkbox__icon"></span>
                <span class="checkbox__text">Конференц-зал</span>
            </label>
            <label class="checkbox">
                <input type="checkbox" value="" name="">
                <span class="checkbox__icon"></span>
                <span class="checkbox__text">Косметический салон</span>
            </label>
            <label class="checkbox">
                <input type="checkbox" value="" name="">
                <span class="checkbox__icon"></span>
                <span class="checkbox__text">Салон красоты</span>
            </label>
            <label class="checkbox">
                <input type="checkbox" value="" name="">
                <span class="checkbox__icon"></span>
                <span class="checkbox__text">Пляж</span>
            </label>
            <label class="checkbox">
                <input type="checkbox" value="" name="">
                <span class="checkbox__icon"></span>
                <span class="checkbox__text">Тренажёрный зал </span>
            </label>
        </div>

        <div class="search__section">
            <p class="search__section-title">Профиль лечения</p>

            <label class="checkbox">
                <input type="checkbox" value="" name="">
                <span class="checkbox__icon"></span>
                <span class="checkbox__text">Аллерго-иммунологические заболевания</span>
            </label>
            <label class="checkbox">
                <input type="checkbox" value="" name="">
                <span class="checkbox__icon"></span>
                <span class="checkbox__text">Болезни глаза и его придаточного аппарата</span>
            </label>
            <label class="checkbox">
                <input type="checkbox" value="" name="">
                <span class="checkbox__icon"></span>
                <span class="checkbox__text">Болезни женских половых органов</span>
            </label>
            <label class="checkbox">
                <input type="checkbox" value="" name="">
                <span class="checkbox__icon"></span>
                <span class="checkbox__text">Болезни кожи и подкожной клетчатки</span>
            </label>
            <label class="checkbox">
                <input type="checkbox" value="" name="">
                <span class="checkbox__icon"></span>
                <span class="checkbox__text">Болезни костно-мышечной системы и соединительной ткани</span>
            </label>
            <label class="checkbox">
                <input type="checkbox" value="" name="">
                <span class="checkbox__icon"></span>
                <span class="checkbox__text">Болезни крови, кроветворных органов и хронические интоксикации</span>
            </label>
            <label class="checkbox">
                <input type="checkbox" value="" name="">
                <span class="checkbox__icon"></span>
                <span class="checkbox__text">Болезни мочеполовой системы</span>
            </label>
            <label class="checkbox">
                <input type="checkbox" value="" name="">
                <span class="checkbox__icon"></span>
                <span class="checkbox__text">Болезни нервной системы</span>
            </label>
            <label class="checkbox">
                <input type="checkbox" value="" name="">
                <span class="checkbox__icon"></span>
                <span class="checkbox__text">Болезни органов дыхания</span>
            </label>
            <label class="checkbox">
                <input type="checkbox" value="" name="">
                <span class="checkbox__icon"></span>
                <span class="checkbox__text">Болезни органов пищеварения</span>
            </label>
            <label class="checkbox">
                <input type="checkbox" value="" name="">
                <span class="checkbox__icon"></span>
                <span class="checkbox__text">Болезни сердца</span>
            </label>
            <label class="checkbox">
                <input type="checkbox" value="" name="">
                <span class="checkbox__icon"></span>
                <span class="checkbox__text">Болезни системы кровообращения</span>
            </label>
            <label class="checkbox">
                <input type="checkbox" value="" name="">
                <span class="checkbox__icon"></span>
                <span class="checkbox__text">Болезни уха, горла, носа</span>
            </label>
            <label class="checkbox">
                <input type="checkbox" value="" name="">
                <span class="checkbox__icon"></span>
                <span class="checkbox__text">Болезни эндокринной системы, расстройства питания и нарушение обмена веществ</span>
            </label>
            <label class="checkbox">
                <input type="checkbox" value="" name="">
                <span class="checkbox__icon"></span>
                <span class="checkbox__text">Восстановление организма после COVID-19</span>
            </label>
            <label class="checkbox">
                <input type="checkbox" value="" name="">
                <span class="checkbox__icon"></span>
                <span class="checkbox__text">Коррекция веса</span>
            </label>
            <label class="checkbox">
                <input type="checkbox" value="" name="">
                <span class="checkbox__icon"></span>
                <span class="checkbox__text">Оздоровление</span>
            </label>
            <label class="checkbox">
                <input type="checkbox" value="" name="">
                <span class="checkbox__icon"></span>
                <span class="checkbox__text">Отдых (без лечения)</span>
            </label>
            <label class="checkbox">
                <input type="checkbox" value="" name="">
                <span class="checkbox__icon"></span>
                <span class="checkbox__text">Педиатрия</span>
            </label>
            <label class="checkbox">
                <input type="checkbox" value="" name="">
                <span class="checkbox__icon"></span>
                <span class="checkbox__text">Психические заболевания</span>
            </label>
            <label class="checkbox">
                <input type="checkbox" value="" name="">
                <span class="checkbox__icon"></span>
                <span class="checkbox__text">Стоматология</span>
            </label>
        </div>

        <div class="search__buttons">
            <button class="button button--low button--secondary" type="reset">Сбросить</button>
            <button class="button button--low button--primary" type="submit">Найти</button>
        </div>
    </form>
</div>