<div class="section-info page__columns page__columns--reverse">
    <div class="page__inner-content">
        <h3>Алтайский край</h3>

        <p>
            На карте России не найти места, похожего на <b>Алтай</b>. Прекрасно сохранившийся природный комплекс, с обилием солнечных дней и чистейшим воздухом, отлично подходит для зимнего и летнего отдыха.<br>
        </p>
        <p>
            Природа <b>Алтая </b>уникальна: необычайной красоты перевалы и заснеженные вершины гор, чистейшие водопады и родники, порожистые и извилистые реки, сказочная тайга, луга. Сила и красота <b>Алтая </b>воспета в народных
            сказаниях,
            многие художники пронесли тему алтайских просторов в своих работах, рождая на холсте изысканную феерию красок и живописную фактурность.&nbsp;<br>
        </p>
        <p>
            Многочисленные санатории <b>Алтая </b>делают этот живописный и загадочный край доступным для всех.
        </p>

        <h3>Курортный сбор</h3>

        <p>
            Cрок проведения эксперимента по взиманию курортного сбора, который начался с мая 2018 года, продлен <b>до 1 января 2025 года</b>. Оплата курортного сбора производится при заезде в объект размещения. Размер курортного сбора
            составляет <b>50 рублей за сутки с человека</b>.
        </p>

        <p>
            Лица, освобожденные от уплаты курортного сбора, перечислены в п.7 Федерального закона №214-ФЗ.
        </p>
    </div>

    <div class="page__sidebar">
        <img src="images/content/search/img.jpg">
    </div>
</div>